<%- include('partials/header') %>
    <div class="container">
        <script type="text/javascript" src="/javascripts/wordcloud.js"></script>

        <canvas class="pic" id='my_canvas' style="height : 400px; width: 400px">

        </canvas>



        <%= post.name %>
            <%- post.sanitisedHTML %>

                <% var str=post.keywords %>
                    <% str=str.split(',').join(''); str=str.split('#').join(''); str=str.split(' ').join(";"); %>
                    <%    console.log(str); %>

                        <span id="kw" data-kw=<%=str %>>
                            
                                        
                    <div class="row">
                        <button class="btn btn-primary" onclick="reg(event);" id=<%=post.id %>
                            <% if ( registered==true){ %>
                                disabled
                                <% } %>

                                            >Register!
                                </button>
                                <div id="reg-<%=post.id %>">
                                    <%= post.numRegistered %>
                                </div>
                            </div>


]


                            <div class="row">
                                <button class="btn<%=post.id%>" onclick="actOnPost(event);" id=<%=post.id %>
                                    <% if ( interacted==true){ %>
                                        disabled
                                        <% } %>

                                            >Like
                                </button>
                                <div id="likes-count-<%=post.id %>">
                                    <%= post.numLiked %>
                                </div>
                            </div>


                            <div class="row">
                                <button class="btn<%=post.id%>" onclick="actOnPost(event);" id=<%=post.id %>
                                    <% if ( interacted==true){ %>
                                        disabled
                                        <% } %>
                                            >Dislike
                                </button>
                                <span id="dislikes-count-<%=post.id %>">
                                    <%= post.numDisliked %>
                                </span>
                            </div>


                <% comments.forEach(function(comm){ %>
                                <div>
                                    <%= comm %>
                                </div>
                                <% }) %>


                                    <form action="/protest/<%=post.id%>/comm" method="POST">
                                        <input type="text" name="comment" placeholder="what are your views">
                                        <input type="submit" value="done">
                                    </form>
                                    <div id="mapid" style="height: 220px; width: 220px">00</div>
                                    <button id="map_view" onclick="act(event);" data-lat=<%=post.latitude %>
                                        data-lon =
                                        <%=post.longitude %>>Refocus
                                    </button>






                                    <form action="/protest/<%=post.id%>/img" method="POST"
                                        enctype="multipart/form-data">
                                        <input type="file" name="image">
                                        <button type="submit" value="upload">Upload</button>
                                    </form>


                                    <% post.Images.forEach( function(image){ %>
                                        <img src="../uploads/<%=image %>" alt="na">

                                        <% }) %>

                                            <script>
                                                let map_btn = document.getElementById("map_view");
                                                window.onload = function () {
                                                    map_btn.click();
                                                }
                                            </script>

                                            <script>

                                                var elem = document.getElementById("kw");
                                                var str = elem.dataset.kw;
                                                console.log(str)
                                                //  str = str.split(' ,').join('') //str=str.split('#').join('') let
                                                x = str.split(';'); var list = []; var t = 3; while (t--) {
                                                    for (var i = 0; i < x.length; i++)
                                                        list.push([x[i], 10])
                                                } console.log(list); WordCloud(document.getElementById('my_canvas'), {
                                                    list: list, shuffle: false, shape: 'cardoid', rotateRatio: 0.7, fontweight: "bold"
                                                });
                                            </script>


    </div>
    <%- include('partials/footer') %>