<%- include('partials/header') %>
    <div class="container">
        <%posts.forEach(function(post){ %>
            <div class="row mx-auto justify-content-center" style="padding-bottom: 5%;">
                <div class=" card text-center " style="width:48rem;">
                    <div class="card-body" style="padding: 8px;">
                        <h4 class="card-header bg-info">
                            <%= post.name %>
                        </h4>
                        <p>
                            <%=post.keywords%>
                        </p>
                        <div>
                            Likes:<%=post.numLiked%> Dislikes:<%=post.numDisliked%>
                        </div>
                        <div>
                            <a href="/protest/<%=post.id%>" class="btn btn-dark">Read More</a>
                        </div>

                    </div>
                </div>
            </div>
            <%});%>



    </div>













    <%- include('partials/footer') %>